@using System.Security.Claims
@model ASP_.Net_Core_Class_Home_Work.Models.Content.Room.RoomPageModel;

@{
    bool isAuthenticated = Context.User.Identity?.IsAuthenticated ?? false;
    Guid? userId = isAuthenticated? Guid.Parse((ReadOnlySpan<char>)Context.User.Claims.First(claim =>claim.Type==ClaimTypes.Sid).Value): null;
}
<div class="row">
      <div class="col col-8">
          <h1>Кимната:@Model.Room.Name</h1>
          <img class="card-img-top" src="~/img/Content/@(Model.Room.PhotoUrl ?? "no-image.jpg")" alt="Card image cap">
          <h2>@Model.Room.Description</h2>
      </div>
    <div class="col col-4">
        <form>
            Бронювання кімнати на місяць
            <select name="month">
                @for (int i = DateTime.Now.Month; i <= DateTime.Today.Month+4; i++)
                {
                    if (i == Model.Month)
                    {
                        <option selected="" value="@i">@i</option>
                    }
                    else
                    {
                        <option value="@i">@i</option>
                    }
                }
            </select> року
            <select name="year">
                @for (int i = DateTime.Now.Year; i <= DateTime.Today.Year+1; i++)
                {
                    if (i == Model.Year)
                    {
                        <option selected="" value="@i">@i</option>
                    }
                    else
                    {
                        <option value="@i">@i</option>
                    }
                }
            </select>
            <button>Оновити</button>
        </form>
       @{
           int freeDays = 0;
           int allDays = 0;
           String itemClass = "item-free";
           string authClass = isAuthenticated ? "item-auth" : "";
           
           DateTime firstDayOfMonth = new DateTime(Model.Year, Model.Month, 1);
           int startDayOffset = ((int)firstDayOfMonth.DayOfWeek + 6) % 7; 
       }
       <div class="calendar">
           @for(int i = 0; i < startDayOffset; ++i)
           {
               <div class="calendar-item"></div>
           }
       
           @for(int i = 1; i <= DateTime.DaysInMonth(Model.Year, Model.Month); ++i)
           {
               DateTime date = new DateTime(Model.Year, Model.Month, i);                
               itemClass = (date < DateTime.Today) ? "item-past" : "item-free";
               var reservation = Model.Room.Reservations.FirstOrDefault(r => r.Date == date);
               bool isReserved = reservation != null;
               bool isOwn = reservation?.UserId != null && reservation?.UserId == userId;
               allDays++;
               if (!isReserved) freeDays++;
               if (isReserved) itemClass = "item-reserved";
       
               <div class="calendar-item @itemClass @authClass">
                   @if (isReserved && isOwn)
                   {
                       <b data-type="drop-reserve-room" 
                          data-room-reserve-date="@date"
                          data-reserve-id="@(reservation!.Id)" title="Скасувати замовлення">@i</b>
                   }
                   else if (!isReserved && isAuthenticated)
                   {
                       <b data-user-id="@(userId)"
                          data-room-id="@(Model.Room.Id)"
                          data-room-name="@(Model.Room.Name)"
                          data-room-price="@(Model.Room.DailyPrice)"
                          data-date="@Model.Year-@(Model.Month.ToString("D2"))-@(i.ToString("00"))"
                          data-type="reserve-room" title="Замовити">@i</b>
                   }
                   else
                   {
                       <b>@i</b>
                   }
               </div>
           }
           @for(int i = (allDays + startDayOffset) % 7; i < 7 && i != 0; ++i)
           {
               <div class="calendar-item"></div>
           }
       </div>

       
        @if (freeDays == 0)
        {
            <b>У данному місяці бронювання неможливе</b>
        }
    </div>
    </div>