@using System.Security.Claims
@model ASP_.Net_Core_Class_Home_Work.Models.Content.Room.RoomPageModel;

@{
    bool isAuthenticated = Context.User.Identity?.IsAuthenticated ?? false;
    Guid? userId = isAuthenticated? Guid.Parse((ReadOnlySpan<char>)Context.User.Claims.First(claim =>claim.Type==ClaimTypes.Sid).Value): null;
}
<div class="row">
      <div class="col col-8">
          <h1>Кимната:@Model.Room.Name</h1>
          <img class="card-img-top" src="~/img/Content/@(Model.Room.PhotoUrl ?? "no-image.jpg")" alt="Card image cap">
          <h2>@Model.Room.Description</h2>
      </div>
    <div class="col col-4">
        <form>
            Бронювання кімнати на місяць
            <select name="month">
                @for (int i = 1; i <= 12; i++)
                {
                    if (i == Model.Month)
                    {
                        <option selected="" value="@i">@(i.ToString("D2"))</option>
                    }
                    else
                    {
                        <option value="@i">@(i.ToString("D2"))</option>
                    }
                }
            </select> року
            <select name="year">
                @for (int i = DateTime.Now.Year; i <= DateTime.Today.Year+1; i++)
                {
                    if (i == Model.Year)
                    {
                        <option selected="" value="@i">@i</option>
                    }
                    else
                    {
                        <option value="@i">@i</option>
                    }
                }
            </select>
            <button>Оновити</button>
        </form>
        @{ int freeDays = 0;}
        @for (int i = 1; i <= DateTime.DaysInMonth(Model.Year,Model.Month); i++)
        {
            DateTime date = new DateTime(@Model.Year, 5, i);
            if (date < DateTime.Today)
            {
                continue;
            }
            var reservation = Model.Room.Reservations.FirstOrDefault(r => r.Date == date);
            bool isReserved = reservation != null;
            bool isOwn = reservation?.UserId != null && reservation?.UserId == userId;
            if (!isReserved)
            {
                freeDays++;
                 
            }
            <p>
                @i.@(Model.Month.ToString("D2")).@Model.Year
                @(isReserved ? "Заброньована" : "Вільна")
                @if (isReserved && isOwn)
                {
                    <button 
                        data-type="drop-reserve-room"
                        data-reserve-id="@(reservation.Id)" 
                        data-room-name-cancellation="@(Model.Room.Name)" data-room-reserve-date="@(reservation.Date)">Скасувати</button>
                }
                @if (!isReserved && isAuthenticated)
                {
                    <button data-user-id="@(userId)"
                            data-room-id="@(@Model.Room.Id)"
                            data-room-name="@(@Model.Room.Name)"
                            data-room-price="@(@Model.Room.DailyPrice)"
                            data-date="@Model.Year-@(Model.Month.ToString("D2"))-@(i.ToString("00"))"
                            data-type="reserve-room">Забронювати</button>
                }
            </p>
        }
        @if (freeDays == 0)
        {
            <b>У данному місяці бронювання неможливе</b>
        }
    </div>
    </div>