@model ASP_.Net_Core_Class_Home_Work.Models.Home.DataBase.DataBasePageModel;
@{
    ViewData["Title"] = @Model.Tittle;
}

<div class="text-center">
    <h1 class="display-4">@Model.HeaderPage</h1>
</div>
<h2>
    @Model.H2ListNuGet;
</h2>
<ul>
    @foreach (var li in @Model.UsingPackages)
    {
        <li>@li</li>
    }
</ul>
<h3>@Model.Structure</h3>
<ul>
    @foreach (var li in @Model.LiStructure )
    {
        <li>@li;</li>
        
    }
   
</ul>