@model ASP_.Net_Core_Class_Home_Work.Models.Home.Intro.IntroPageModel;
@{
    ViewData["Title"] = Model.Tittle;
}

<div class="text-center">
    <h1 class="display-4">@Model.HeaderPage</h1>
</div>
<p>
    @Model.ContentAboutASP;
</p>
<h2>
    @Model.TittleAboutFormUrl;
</h2>
<p>
   @Model.ContentAboutFormUrl
</p>
<ul>
    @foreach (var li in @Model.Ul_li)
    {
        <li>@li</li>
    }
</ul>