@model ASP_.Net_Core_Class_Home_Work.Models.Home.Ioc.IocPageModel;
@{
    ViewData["Title"] = @Model.Tittle;
}
<div class="text-center">
    <h1 class="display-4">@Model.HeaderPage</h1>
</div>
<p>
    @Model.AboutIoc;
@foreach (var li in @Model.LiStepWork_Ioc)
{
    <li>@li</li>
}
<p>
    @Model.CreateService;
</p>
<ul>
    @foreach (var li in @Model.TypeInversion)
    {
        <li>@li</li>
    }
</ul>
<p>@Model.ExampleCreateService</p>
<ul>
   @foreach (var li in @Model.LiExampleCreateService)
   {
       <li>@li</li>
   }
   <li>Перевіряємо його роботу:@Model.SingleHash</li>
</ul>
<h3>@Model.Tittle</h3>
@foreach (var pair in Model.Hashes)
{
    <p>@pair.Key---@pair.Value</p>
}